{% extends "base.html" %}
{% load static %}

{% block extra-style %}
<style>
    .product-card {
        transition: transform .2s;
        /* 애니메이션 효과 */
        cursor: pointer;
    }

    .product-card:hover {
        transform: scale(1.05);
        /* 마우스 오버시 카드 확대 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        /* 그림자 효과 */
    }

    .custom-link {
        display: block;
        width: 100%;
        /* 혹은 필요에 따라 조절할 수 있습니다. */
        height: 100%;
        /* `<a>` 태그의 크기를 강제로 조절할 필요가 있다면 이를 추가하세요. */
    } 

    .posts-container {
        margin-left: 70px; /* 혹은 원하는 만큼 조정 */
        margin-top: 50px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/infinite_scroll.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mx-auto">
        <h2>전체 포스트</h2>
        
        <div class="row posts-container">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                {% include 'feed/post_card.html' %}
            </div>
            {% empty %}
            <div class="col-12">
                <p>게시글이 없습니다.</p>
            </div>
            {% endfor %}
        </div>
        
        <div class="loading text-center" style="display: none;">로딩 중...</div>
        
    </div>
</div>
{% endblock %}